@import "../index.scss";
.diagram_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  .diagram_datas {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    h3 {
      text-align: center;
      padding: 15px;
      font-family: "Varela Round", sans-serif;
      color: var(--color_4);
    }
  }
}
.top_part_diagram {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 15px;
  h4 {
    font-family: "Varela Round", sans-serif;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
.input_time {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: column;
  h4 {
    .green_change {
      color: green;
    }
    .red_change {
      color: red;
    }
  }
}
.bot_part_diagram {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.select_timer {
  width: 100px;
}
.diagram_data {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 20px;
  width: 100%;
  .left_side {
    padding: 10px;
    h5 {
      font-family: "Varela Round", sans-serif;
      font-size: 1em;
    }
  }
  .right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    h5 {
      font-family: "Varela Round", sans-serif;
      font-size: 1em;
    }
    span {
      padding: 5px;
      font-size: 0.8em;
      color: gray;
      font-family: "Roboto", sans-serif;
    }
  }
}
.crypto_desc {
  padding: 5px;
  margin: 40px auto;

  h4 {
    padding: 10px 0;
    font-size: 1.1em;
    font-family: "Varela Round", sans-serif;
  }
  h5 {
    font-family: "Varela Round", sans-serif;
  }
  h6 {
    font-family: "Varela Round", sans-serif;
  }
  p {
    line-height: 25px;
    font-weight: 600;
    color: var(--color_1);
    font-family: "Roboto", sans-serif;

    a {
      color: var(--color_4);
      border-bottom: 1px solid var(--color_4);
      &:hover {
        color: var(--color_2);
        border-bottom: 1px solid var(--color_2);
      }
    }
  }
  h3 {
    color: var(--color_4);
    padding: 10px 0;

    font-family: "Varela Round", sans-serif;
  }
}
.diagram_crypto {
  width: 100%;
}

@media (max-width: 600px) {
  .diagram_container {
    h3 {
      font-size: 13px;
      padding: 5px;
    }
    h4 {
      font-size: 11px;
    }
    h5 {
      font-size: 11px !important;
    }
  }
  .top_part_diagram {
    padding: 0;
  }
  .bot_part_diagram {
    padding: 0;
  }
}
@media (max-width: 700px) {
  .diagram_parent {
    display: none;
  }
}
@media (min-width: 700px) {
  .diagram_parent_mobile {
    display: none;
  }
}
