@import "../index.scss";
.home_container {
  flex: 1;
  background-color: var(--color_2_1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  background-repeat: no-repeat;
  background-size: 400px;
}
.title_home {
  padding: 15px;
  color: var(--color_4);
  letter-spacing: 0.7px;
  h2 {
    font-family: "Varela Round", sans-serif;
  }
}
.currency_box {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 95%;
}
.btn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    border: 1px solid var(--color_2);
    background: var(--color_2);
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    margin: 10px;
    transition: 0.2s ease all;
    &:hover {
      transform: scale(1.05);
      background: var(--color_2_1);
    }
    &:active {
      transform: scale(1);
    }
  }
}
.otherdata_crypto {
  margin: 20px;
  margin-left: 50px;
  padding: 30px;
  background-color: var(--color_2);
  border-radius: 12px;

  .crypto_other_datas {
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--color_2);
  }
}
@media (max-width: 700px) {
  .otherdata_crypto {
    width: 85%;
    margin: 20px auto;
    .crypto_other_datas {
      font-size: 0.9rem;
    }
  }
}
