@import "../index.scss";
.news_container {
  flex: 1;
  background-color: var(--color_2_1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.title_news {
  padding: 15px;
  color: var(--color_4);
  letter-spacing: 0.7px;
  h2 {
    font-family: "Varela Round", sans-serif;
  }
}
.news_cards_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}
