@import "../index.scss";
.page404_container {
  flex: 1;
  background-color: var(--color_2_1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.title_page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--color_4);
  letter-spacing: 0.7px;
  height: 50vh;
  h2 {
    font-family: "Varela Round", sans-serif;
    position: relative;
  }
}
.image_404 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  height: 100%;

  .image_404_icon {
    width: 100px;
    height: 100px;
    color: var(--color_2);
  }
}
